{% extends 'bboard/base.html' %}

{%block title%} Add an ad  {%endblock title%}

{%block pagename%}  <h1>Add an ad</h1> {%endblock pagename%}

{%block content%}
    <div>
        <form action="" method="post">
            {%csrf_token%}
            <table>
                    {{form.as_table}}
            </table>
            <br>
            <input class="btn btn-primary" type="submit" value="Submit and send">
        </form>
    </div>
{%endblock content%}

        <h4>Categories:</h4>
        {%for category in categories%}
            <ul>
                <li><a href="{% url 'by_category' category.pk %}">{{category.name}}</a></li>
            </ul>
        {%endfor%}
